{% extends "base.html" %}
{%block title%}Receta{%endblock%}
		{% load static from staticfiles %}

{% block contenido %}
	
		
	
	<div>
	<p id="tit2"> 
		Centro de Diálisis Cornelio Samaniego Valdivieso Cía. Ltda 
	</p>

	<center>
	<div id="recetario-contenedor" style="width:90%;">
		<table id="tabPrincipal2" class="table table-striped recetario" style="width:100%;">
			<tr id="noM">
				<td id="titulo" class="encabezado">
					<center>
						CENTRO DE DIÁLISIS<br>CORNELIO SAMANIEGO VALDIVIESO Cía. Ltda 
					</center>
				</td>
				<td id="titulo" class="encabezado">
					<center>
						CENTRO DE DIÁLISIS<br>CORNELIO SAMANIEGO VALDIVIESO Cía. Ltda
					</center>
				</td>
			</tr>
			<tr>
				<td class="paciente">
					Fecha: {{hora}}<br>Nombre: {{pac.nombre}} {{pac.apellido}}
				</td>
				<td class="paciente">
					Fecha: {{hora}}<br>Nombre: {{pac.nombre}} {{pac.apellido}}
				</td>
			</tr>
			<tr>
				<td><span class="apartado">Rp.</span></td><td><span class="apartado"> Indicaciones: </span></td>
			</tr>
			<tr>
				<td>
					<form>
					<div class="contenido">
						<table id="tabla1" class="table table-striped">
							{% for med in medicamento%}
							<tr>
								<td>{{med.nombre}}</td>
								<td>
									<input  type="text" id="num" class="form-control" placeholder="Cant" value="{{med.cantidad}}" >
								</td>
								<td id="BdUnidad">{{med.unidad}}</td>
							</tr>
							{% endfor %}
						</table>
					</div>
					</form>
				</td>
				<td>
					<form>
					<div class="contenido">
						<table style="width:80%;">
							<tr>
								<td>
									<ul class="list-group">
									{%for med in medicamento%}
									  <li class="list-group-item">{{med.nombre}}</li>
									  <li class="list-group-item"> <textarea rows="1" style="width:100%;">{{med.informacion_Extra}}</textarea> </li>
									  {%endfor%}
									 
									</ul>
								</td>
							</tr>
						</table>
						</div>
					</form>
				</td>
			</tr>

			<tr>
		        <td>
		            <footer id="recetario-footer" >
		                <article>
		                    <h4>Dr. Jorge Leonardo Cabrera L.</h4>
		                    <h4>Nefrólogo</h4>
		                    <h5>Reg: Libro 001 Folio 0165 N# 494</h5>
		                </article>
		            </footer>
		        </td>
		        <td>
		            <footer id="recetario-footer">
		                <article>
		                    <h4>Dr. Jorge Leonardo Cabrera L.</h4>
		                    <h4>Nefrólogo</h4>
		                    <h5>Reg: Libro 001 Folio 0165 N# 494</h5>
		                </article>
		            </footer>
		        </td>
		    </tr>
		
			<tr>
				<td><nav id="submenu"></nav></td>
				<td id="h">
					<nav id="submenu">
						<center><button type="button" class="btn btn-primary">Guardar</button>&nbsp&nbsp
						<!--<a  value="Imprimir" class="btn btn-warning" onClick="window.print()">Imprimir</a></center>-->
						<a  value="Imprimir" class="btn btn-warning" onClick="window.print()">Imprimir</a></center>
					</nav>
				</td>
			</tr>
		</table>
	</div>
	</center>

</div>
	

							<div id="firma">
								<br>
							<center>Dr. Jorge Leonardo Cabrera L.</center>
							 <center>Nefrólogo</center>
							 </div>


{% endblock %}