
@page {
	size: A4;
	margin: 0;
	padding: 0;
}

header{
	display: none;
	max-height: 0px;
	overflow: hidden;
}

footer, #tit2, #firma, .btn {
	display: none;
}

td.encabezado center {
	text-align: center;
	font-size: 14px;
	margin-bottom: 5mm;
	padding-top: 5mm;
}

table.recetario td.paciente {
	text-align: left;
	font-size: 12px;
	padding-bottom: 3mm;
}

table.recetario span.apartado {
	text-align: left;
	font-style: italic;
	font-weight: bold;
	font-size: 12px;
	padding-bottom: 1mm;
}

table.recetario div.contenido {
	max-width: 86mm;
	font-size: 0.6em;
	min-height: 70mm;
	max-height: 70mm;
	margin: 1mm;
	padding-left: 10px;
	padding-right: 10px; 
	padding-top: 10px;
	overflow: hidden;
	border: 1px black solid;
}

#BdUnidad,#num {
	padding-left: 5px;
	width: 1cm;
	border: 1px blue solid;
}

#recetario-contenedor {
	
	width: 210mm;
	min-height: 138.5mm;
	max-height: 138.5mm;
	padding-left: 10mm;
	padding-right: 10mm;
	padding-top: 0mm;
	padding-bottom: 0mm;
	overflow: hidden;
	border: 1px red solid;
}

#recetario-footer {
	visibility: inherit;
	background-color: transparent;
	padding: 0px;
	clear: both;
	width: 70%;
	max-height: 15mm;
	overflow: hidden;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 40px;
}

#recetario-footer article {
	text-align: center;
	width: 98%;
	max-height:15mm; 
	margin-left: 1%;
}

#recetario-footer h4 {
	font-size: 12px;
	text-align: center;
	margin: 0px;
}

#recetario-footer h5 {
	font-size: 10px;
	text-align: center;
	margin-bottom: 0px;
}

textarea{
	border: none;
	resize: none;
	list-style-type: none;
	overflow: hidden;
	text-decoration: none;
	width: 100%;
}

input {
	background-color: transparent;
	border:none;
	text-decoration: none;
}

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

#submenu {
	display: none;
}








